<!DOCTYPE html>
<html>
  <head>
    <title>Ninetyninecats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <style>
    body {
      background-color: whitesmoke;
      font-family: papyrus, fantasy;
    	font-size: 24px;
    	font-style: normal;
    	font-variant: normal;
    	font-weight: 500;
    	line-height: 26.4px;
    }

    h1, h2, h3{
      font-size: 70px;
    }

    th {
      font-style: bold;
      font-size: 30px;
    }
  </style>

  <body>
    <%= yield %>
  </body>
</html>
